svg {
  border:1px solid black;
  line {
    fill: none;
    vector-effect:non-scaling-stroke;
  }

  polyline.shape.animated {
    /*animation: dash 5s infinite forwards;*/
    stroke:black;
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke-width:1;
  }

}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
