main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;

  article:first-of-type {
    width: 50%;
    height: fit-content;

    .card {
      border: 1px solid lightgray;
      border-radius: 4px;
      margin:15px;
      padding: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }


    div.column {
      display: flex;
      flex-direction: row;

      .math {
        font-family: monospace;
        font-size: small;
      }

      div.left {
        width: 20rem;
      }
      div.right {
        width: 30rem;
      }

      div.right {
        div.origin-navigator {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
        }

      }

    }

    input+button {
      margin-left: 15px;
    }
    button+button {
      margin-left:5px;
    }

    input+label {
      width:fit-content;
    }

    table.origins {
      td {
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
      }

      tr:nth-child(odd) td:nth-child(even),
      tr:nth-child(even) td:nth-child(odd)
      {
        font-size: 20pt;
      }

      td.selected {
        color:green;
      }

    }

    div.rules, div.variables {
      width: 40rem;

      .item {
        margin-left: 3em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      h3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        button + button {
          margin-left: 0.5rem;
        }
      }
    }

    .suffix {
      margin-left: -2rem;
    }

    input[type=number] {
      text-align: right;
      width:5em;
    }

    button.updown {
      font-weight: bold;
    }
  }

  article:last-of-type {
    width: 50%;
    height: fit-content;
    overflow: hidden;

    margin-left:20px;

    section:has(app-lsystem) {
    }

    app-lsystem {
      height: 300px;
      margin: 0;
    }

    section.formula {
      width: 95%;
      font-family: monospace;
      height: 5rem;
      overflow: auto;
      margin-top: 10px;
      word-break: break-all;
    }
  }

  form {
    p {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        display: inline-block;
        width: 10em;
        font-size: small;
      }

      label:after {
        content: ": ";
      }
    }

    div.variables, div.rules {
      .item {
        label {
          width: 7em;
        }
      }
    }
  }
}

.flex { display: flex;}
.flex.row {flex-direction: row;}
.flex.vcenter {align-items: center}

.inline-block {display: inline-block}
.w-10em {width: 10em}
.font-small { font-size: small}
