<main>
  <article id="introduction">
    <header>
      <h1>L-System rewrite testing grounds.</h1>
    </header>
    <section>
      <p>
        To learn more about what an L-System is see the <a href="https://en.wikipedia.org/wiki/L-system">Wikipedia</a>
        page.
      </p>
      <p>
        Many thanks to <a href="https://paulbourke.net/fractals/lsys/">Paul Bourke</a> for all the fractal formulas.
      </p>

    </section>
    <section id="inputs">
      <header>
        <h1>Configuration</h1>
      </header>
      <form [formGroup]="formgroup">
        <p>
          <label for="auto-update">Auto update drawing</label>
          <input checked type="checkbox" id="auto-update" formControlName="autoUpdate">
        </p>
        <p>
          <label for="inputNrOfIterations">Iterations</label>
          <input name="iterations" id="inputNrOfIterations" formControlName="nrOfIterations" type="number">
        </p>
        <p>
          <label for="inputLineLength">Line length</label>
          <input name="linelength" id="inputLineLength" formControlName="lineLength" type="number">
        </p>
        <p>
          <label for="inputAxiom">Axiom</label>
          <input name="axiom" id="inputAxiom" formControlName="axiom" type="text" minlength="1">
        </p>
        <p>
          <label for="inputRotationAngle">Rotation Angle</label>
          <input name="rotationangle" id="inputRotationAngle" formControlName="rotationAngle" type="number" min="-180"
                 max="180">
        </p>
        <p>
          <label for="inputStartAngle">Start Angle</label>
          <input name="startAngle" id="inputStartAngle" formControlName="startAngle" type="number" min="-180" max="180">
        </p>
        <p>
          <label for="inputLengthMultiplier">Length multiplier </label>
          <input name="lengthMultiplier" id="inputLengthMultiplier" formControlName="lengthMultiplier" type="number">
          <span> (for &lt; and &gt;)</span>
        </p>
        <p>
          <label for="inputOriginX">Origin:</label>
          <input name="originX" id="inputOriginX" formControlName="originX" type="number" min="-400" max="400">
          <input name="originY" id="inputOriginY" formControlName="originY" type="number" min="-400" max="400">
           = ({{originX?.value}},{{originY?.value}}) => translation({{translation?.xAsString}}, {{translation?.yAsString}})
          <button (click)="updateOriginFromTranslation()">Correct with translation</button>

        </p>
        <!--        <p>
                  <label for="inputRules">Rules</label>
                  <textarea name="lrules" id="inputRules" formControlName="rules" [rows]="4" [cols]="50"></textarea>
                <div class="errors">
                  <p FormError [control]="rules" name="Rules"></p>
                  @if (rules && rules.hasError('incorrectRule') && rules.errors !== null) {
                    <p class="hasError">Incorrect rule: {{ rules.errors['incorrectRule'] }}</p>
                  }
                  @if (rules && rules.hasError('MissingParts') && rules.errors !== null && rules.errors !== undefined) {
                    <p class="hasError">Missing parts left or right of equal sign ('='): {{ rules.errors['MissingParts'] }}</p>
                  }

                </div>-->
        <div class="rules">
          @if (rules) {
            <h3><span>Rules:</span>
              <span>
              <button (click)="addNewRule('P=F')">+</button>
              <button (click)="parseRulesForVariables()">Parse for vars</button>
                </span>
            </h3>
            <ng-container formArrayName="listOfRules">
              @for (rule of rules.controls; track rules.controls; let j = $index) {
                <div [formGroup]="oneRule(j)" class="item">
                  <div>
                    <label>Rule {{ j + 1 }}</label>
                    <input formControlName="rule" minlength="1" size="40">
                  </div>
                  <button (click)="deleteOneRule(j)">delete</button>
                </div>
              }
            </ng-container>
          }
        </div>
        <div class="variables">
          @if (variables) {
            <h3><span>
            Variables:
            </span>
              <button (click)="addNewVariableFromForm('?', true)">+</button>
            </h3>
            <ng-container formArrayName="listOfVariables">
              @for (item of variables.controls; track variables.controls; let j = $index) {
                <div [formGroup]="oneVariable(j)" class="item">
                  <div>
                    <label>Variable {{ j + 1 }}</label>
                    <input formControlName="variableName" minlength="1" maxlength="1" type="text">
                    <input formControlName="isDrawing" type="checkbox">
                  </div>
                  <button (click)="deleteOneVariable(j)">delete</button>
                </div>
              }
            </ng-container>
          }
        </div>
        <hr>
        <button (click)="submitValues()">Redraw!</button>
      </form>
    </section>
  </article>

  <article id="drawingarea">
    <section>
      <app-lsystem [lsystem]="lsystem" [(Translation)]="translation"></app-lsystem>
    </section>
    <section>
      {{ lsystem.completeFormula }}
    </section>
  </article>
</main>
