<main>
  <article id="introduction">
    <header>
      <h1>L-System rewrite testing grounds.</h1>
    </header>
    <section>
      <p>
        To learn more about what an L-System is see the <a href="https://en.wikipedia.org/wiki/L-system">Wikipedia</a>
        page. See my <a href="https://github.com/martinmolema/L-System/tree/master">Github Page</a> for an explanation
        in the README.md file.
      </p>
      <p>
        Many thanks to <a href="https://paulbourke.net/fractals/lsys/">Paul Bourke</a> for all the fractal formulas.
      </p>


    </section>
    <section id="inputs">
      <header>
        <h1>Configuration</h1>
      </header>

      @if (formgroup) {

        <p>
          <label for="listOfItems">Available items: &nbsp;</label>
          <select id="listOfItems" (change)="selectSystem($event)" [(ngModel)]="idxSelectedSystem">
            <option value="-1">[Pick an item]</option>
            @for (item of allSystems; track allSystems; let idx = $index) {
              <option [ngValue]="idx">{{ item.systemName }}</option>
            } @empty {
              <option>Loading....</option>
            }
          </select>
        </p>

        <form [formGroup]="formgroup">
          <div class="column">
            <div class="left card">
              <p>
                <label for="auto-update">Auto update drawing</label>
                <input checked type="checkbox" id="auto-update" formControlName="autoUpdate">
              </p>
              <p>
                <label for="inputNrOfIterations">Iterations</label>
                <input name="iterations" id="inputNrOfIterations" formControlName="nrOfIterations" type="number"
                       min="0" max="50">
                <button class="updown" (click)="decreaseIteration()" title="decrease value">-</button>
                <button class="updown" (click)="increaseIteration()" title="increase value">+</button>
              </p>
              <p>
                <label for="inputLineLength">Line length</label>
                <input name="linelength" id="inputLineLength" formControlName="lineLength" type="number"
                       min="1" max="999">
                <button class="updown" (click)="changeLineLength(-2)" title="decrease value">-</button>
                <button class="updown" (click)="changeLineLength(2)" title="increase value">+</button>
              </p>
              <p>
                <label for="inputAxiom">Axiom</label>
                <input name="axiom" id="inputAxiom" formControlName="axiom" type="text" minlength="1" size="15">
              </p>
              <p>
                <label for="inputRotationAngle">Rotation Angle</label>
                <input name="rotationangle" id="inputRotationAngle" formControlName="rotationAngle" type="number"
                       min="-180"
                       max="180" class="angle">
                <button class="updown" (click)="changeRotationAngle(-5)" title="decrease value">-</button>
                <button class="updown" (click)="changeRotationAngle(5)" title="increase value">+</button>
              </p>
              <p>
                <label for="inputStartAngle">Start Angle</label>
                <input name="startAngle" id="inputStartAngle" formControlName="startAngle" type="number"
                       min="-180" max="180" class="angle">
                <button class="updown" (click)="changeStartAngle(-5)" title="decrease value">-</button>
                <button class="updown" (click)="changeStartAngle(5)" title="increase value">+</button>
              </p>
              <p>
                <label for="inputLengthMultiplier">Length multiplier</label>
                <input name="lengthMultiplier" id="inputLengthMultiplier"
                       formControlName="lengthMultiplier" type="number"
                       min="0.001" max="10" step="0.1">
                <button class="updown" (click)="changeLineLengthMultiplier(-0.1)" title="decrease value">-</button>
                <button class="updown" (click)="changeLineLengthMultiplier(0.1)">+</button>
              </p>
              <div class="math">
                <label></label>
                <pre>
                  &lt; &rarr; {{ 1 / lengthMultiplier?.value | number:'1.1-1' }}
                  &gt; &rarr; {{ lengthMultiplier?.value | number:'1.1-1' }}</pre>
              </div>
            </div>
            <div class="right card">
              <p>
                <label for="cbxUsePolyline">Animated polyline</label>
                <input id="cbxUsePolyline" formControlName="usePolyline" type="checkbox">
                @if (usePolyline?.value === true) {
                  <label for="cbxFillPolyline">Fill Polyline</label>
                  <input id="cbxFillPolyline" formControlName="fillPolyline" type="checkbox">
                }
              </p>
              <p>
                <label for="inputStrokeColor">Stroke color:</label>
                <input id="inputStrokeColor" type="color" formControlName="strokeColor" required>
              </p>
              @if (usePolyline?.value === false) {
                <p>
                  <label for="inputFadeStrokeOpacity">Use fading lines</label>
                  <select id="inputFadeStrokeOpacity" formControlName="fadeStrokeOpacity">
                    <option value="None">None</option>
                    <option value="Normal">Normal</option>
                    <option value="Reverse">Reverse</option>
                  </select>

                </p>
              }
              <p>
                <label for="inputOriginX">Origin drawing</label>
                <input name="originX" id="inputOriginX" formControlName="originX" type="number" min="-400" max="400">
                <span class="prefix">x:</span>
                <input name="originY" id="inputOriginY" formControlName="originY" type="number" min="-400" max="400">
                <span class="prefix">y:</span>
                <span>&nbsp; = ({{ originX?.value }} , {{ originY?.value }})</span>
                <span>&nbsp;</span>

              </p>
              <p>
                <label title="Drag to change translation">Translation</label>
                ({{ canvas.translation.xAsString }} , {{ canvas.translation.yAsString }})
                &nbsp;
                =>
                &nbsp;
                (
                {{ Math.floor((canvas.translation ? canvas.translation.x : 0) + canvas.OriginX) }}
                ,
                {{ Math.floor((canvas.translation ? canvas.translation.y : 0) + canvas.OriginY) }}
                )

              </p>
              <button (click)="updateOriginFromTranslation()" title="Use values from translation to correct origin">
                Correct with translation
              </button>
              <div class="origin-navigator">
                <table class="origins" title="Click to select preselected positions">
                  <tbody>
                  <tr>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.TopLeft"
                        (click)="setOriginFromForm('TL')">&#8598;
                    </td>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.CenterTop"
                        (click)="setOriginFromForm('TC')">&uarr;
                    </td>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.TopRight"
                        (click)="setOriginFromForm('TR')">&#8599;
                    </td>
                  </tr>
                  <tr>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.CenterLeft"
                        (click)="setOriginFromForm('LC')">&larr;
                    </td>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.CENTER"
                        (click)="setOriginFromForm('C')">&#x25cf;
                    </td>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.CenterRight"
                        (click)="setOriginFromForm('RC')">&rarr;
                    </td>
                  </tr>
                  <tr>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.BottomLeft"
                        (click)="setOriginFromForm('BL')">&#8601;
                    </td>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.CenterBottom"
                        (click)="setOriginFromForm('BC')">&darr;
                    </td>
                    <td [class.selected]="lsystem.OriginPosition === OriginPositions.BottomRight"
                        (click)="setOriginFromForm('BR')">&#8600;
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!--        <p>
                        <label for="inputRules">Rules</label>
                        <textarea name="lrules" id="inputRules" formControlName="rules" [rows]="4" [cols]="50"></textarea>
                      <div class="errors">
                        <p FormError [control]="rules" name="Rules"></p>
                        @if (rules && rules.hasError('incorrectRule') && rules.errors !== null) {
                          <p class="hasError">Incorrect rule: {{ rules.errors['incorrectRule'] }}</p>
                        }
                        @if (rules && rules.hasError('MissingParts') && rules.errors !== null && rules.errors !== undefined) {
                          <p class="hasError">Missing parts left or right of equal sign ('='): {{ rules.errors['MissingParts'] }}</p>
                        }

                      </div>-->
              <P>
                <label>Zoomfactor</label> <span>{{ canvas.zoomFactor.toFixed(1) }}</span><span>&nbsp;</span>
                <button (click)="resetZoom()">Reset</button>
              </P>
            </div>
          </div>
          <div>
            <div class="rules card">
              @if (rules) {
                <h3><span>Rules:</span>
                  <span>
              <button (click)="addNewRule('P=F')" title="increase value">+</button>
              <button (click)="parseRulesForVariables()">Parse for vars</button>
                </span>
                </h3>
                <ng-container formArrayName="listOfRules">
                  @for (rule of rules.controls; track rules.controls; let j = $index) {
                    <div [formGroup]="oneRule(j)" class="item">
                      <div>
                        <label>Rule {{ j + 1 }}</label>
                        <input formControlName="rule" minlength="1" size="40">
                      </div>
                      <button (click)="deleteOneRule(j)">delete</button>
                    </div>
                  }
                </ng-container>
              }
            </div>
            <div class="variables card">
              @if (variables) {
                <h3><span>
            Variables:
            </span>
                  <button (click)="addNewVariableFromForm('?', true)" title="increase value">+</button>
                </h3>
                <ng-container formArrayName="listOfVariables">
                  @for (item of variables.controls; track variables.controls; let j = $index) {
                    <div [formGroup]="oneVariable(j)" class="item">
                      <div>
                        <label>Variable {{ j + 1 }}</label>
                        <input formControlName="variableName" minlength="1" maxlength="1" type="text">
                        <input formControlName="isDrawing" type="checkbox">
                      </div>
                      <button (click)="deleteOneVariable(j)">delete</button>
                    </div>
                  }
                </ng-container>
              }
            </div>
          </div>
          <button (click)="submitValues()">Redraw!</button>
          &nbsp;
          <button (click)="copyJSONToClipboard()">Copy JSON to clipboard</button>
          &nbsp;
          <button (click)="copySVGToClipboard()">Copy Image/SVG to clipboard</button>
        </form>
      }
    </section>
  </article>

  <article id="drawingarea">
    <section>
      <app-lsystem [lsystem]="lsystem" [canvas]="canvas" [uniqueDrawingID]="lsystem.uniqueDrawingID"></app-lsystem>
    </section>
    <section class="formula">
      <div>{{ lsystem.completeFormula }}</div>
      <button (click)="copyResultFormulaToClipboard()">Copy</button>
    </section>
    <section>
      <p>Calculation time: {{ lsystem.CalculationTime.toLocaleString() }}ms
        | {{ lsystem.lines.length.toLocaleString() }} lines
        | {{ lsystem.RecursiveIterations.toLocaleString() }}
        recursive iterations</p>
    </section>
  </article>
</main>
