<svg width="800" height="800" xmlns="http://www.w3.org/2000/svg" #drawing
     (wheel)="handleWheelevent($event)"
     (mousedown)="startDrag($event)"
     (mouseup)="endDrag($event)"
     (mousemove)="drag($event)"
>
  <g transform="translate(400,400) scale(1,-1)">

    <!--
    remove these comments to show the center of the carthesian coordinate system
<circle cx="0" cy="0" r="10" stroke="red" fill="red" fill-opacity="0.5"></circle>
    -->
    <g id="canvas" [attr.transform]="'scale(' + zoomFactor +','+ zoomFactor + ')'">
<!--
                  <circle cx="0" cy="0" r="10" stroke="blue" fill="blue" fill-opacity="0.5"></circle>
                  <circle [attr.cx]="lsystem.OriginCoordinates2d.x" [attr.cy]="lsystem.OriginCoordinates2d.y" r="10" stroke="green" fill="green" fill-opacity="0.5"></circle>
-->
      @if (!lsystem.UsePolyline && lsystem.OriginCoordinates2d) {
        @for (line of lsystem.lines; track lsystem.lines) {
          @if (lsystem && lsystem.OriginCoordinates2d) {
            <line
              [attr.x1]="line.x1 + origin.x"
              [attr.x2]="line.x2 + origin.x"
              [attr.y1]="line.y1 + origin.y"
              [attr.y2]="line.y2 + origin.y"
              [attr.stroke-width]="line.strokeWidth"
              [classList]="line.classList.join(' ')"
              [attr.stroke]="lsystem.strokeColor"
              [attr.stroke-opacity]="line.strokeOpacity"

            ></line>
          }
        }
      }
      <polyline #polylineElement
                [attr.points]="lsystem.PolylineString"
                [attr.stroke-dasharray]="lsystem.TotalLineLength * zoomFactor"
                [attr.stroke-dashoffset]="lsystem.TotalLineLength * zoomFactor"
                class="shape"
                [attr.stroke]="lsystem.strokeColor"
                [attr.fill]="lsystem.FillPolyline ? lsystem.strokeColor : 'none' ">
      </polyline>
      <!--
              <polyline #polylineElement
                [attr.points]="lsystem.PolylineString"
                        [attr.stroke-dasharray]="(lsystem  ? lsystem.TotalLineLength : 0) * (coordinateSystem ? coordinateSystem.zoomFactor : 0)"
                        [attr.stroke-dashoffset]="(lsystem  ? lsystem.TotalLineLength : 0) * (coordinateSystem ? coordinateSystem.zoomFactor : 0)"
                        class="shape"
                        [attr.stroke]="lsystem.strokeColor"
                        [attr.fill]="lsystem.FillPolyline ? lsystem.strokeColor : 'none' "
                        [attr.transform]="'translate(' + coordinateSystem.translation.x + ',' + -coordinateSystem.translation.y + ')'">
              </polyline>
      -->
    </g>
  </g>
</svg>
